@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-200;
}

.bg-main {
  background: url("https://mrwallpaper.com/images/hd/experience-unique-abilities-in-valorant-lngjymkls1c2cji2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
